@font-face{
    font-family:"HelveticaNeueLTStd47LtCn";
    src:url('fonts/helveticaneueltstd-ltcn-webfont.eot');
    src:url('fonts/helveticaneueltstd-ltcn-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneueltstd-ltcn-webfont.woff') format('woff'),
         url('fonts/helveticaneueltstd-ltcn-webfont.ttf') format('truetype'),
         url('fonts/helveticaneueltstd-ltcn-webfont.svg#HelveticaNeueLTStd47LtCn') format('svg');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:'HelveticaNeueLTStd37ThCn';
    src:url('fonts/helveticaneueltstd-thcn-webfont.eot');
    src:url('fonts/helveticaneueltstd-thcn-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneueltstd-thcn-webfont.woff') format('woff'),
         url('fonts/helveticaneueltstd-thcn-webfont.ttf') format('truetype'),
         url('fonts/helveticaneueltstd-thcn-webfont.svg#HelveticaNeueLTStd37ThCn') format('svg');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:'HelveticaNeue77BoldCondensed';
    src:url('fonts/helveticaneue-boldcond-webfont.eot');
    src:url('fonts/helveticaneue-boldcond-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneue-boldcond-webfont.woff') format('woff'),
         url('fonts/helveticaneue-boldcond-webfont.ttf') format('truetype'),
         url('fonts/helveticaneue-boldcond-webfont.svg#HelveticaNeue77BoldCondensed') format('svg');
    font-weight:normal;
    font-style:normal;
}

h1, h2, h3, h4, h5{
    margin:0;
    padding:0;
    line-height:0;
    font-size:12px;
    font-weight: normal;
    
}

.fsQuote{
    text-align: center;
    font-family:"Georgia",serif;
    font-size:40px;
    font-style:italic;
    font-weight:normal;
    line-height:40px;
    margin-bottom:15px;
    margin-top:0;
    padding-bottom:5px;
}
/*
.fs0{
    font-family:"HelveticaNeueLTStd37ThCn","arial Narrow",helvetica,sans-serif;
    font-size:50px;
    font-weight:normal;
    line-height:60px;
}
.fs1{
    font-family:"HelveticaNeue77BoldCondensed","arial Narrow",helvetica,sans-serif;
    font-size:18px;
    font-weight:normal;
    line-height:20px;
    text-transform:uppercase;
}

.fs2{
    font-family:"HelveticaNeueLTStd47LtCn","arial Narrow",helvetica,sans-serif;
    font-size:16px;
    font-weight:normal;
    line-height:20px;
}
.fs3{
    font-family:Arial,Helvetica,sans-serif;
    font-size:12px;
    line-height:20px;
    font-weight:bold;
}
.fs4{
    font-family:Arial,Helvetica,sans-serif;
    font-size:12px;
    line-height:20px;
}
.fs5{
    font-family:Arial,Helvetica,sans-serif;
    font-size:9px;
    line-height:20px;
}

*/